<nav class="sidebar">
  <div class="sidebar_icon">
     <span class="close">&#10005; close</span>
     <p style="text-align: center">MENU</p>
  </div>
  <ul>
    <li id="small-size">
      <a href="/index"><b>Home</b></a>
    </li>
    <li id="big-size">
      <a href="/stemgirl/add-stemgirl"><b>Become a STEM GIRL</b></a>
    </li>
    <li >
      <a href="#" class="get_involved"><b>Get Involved &#9660;</b></a>
      <ul class="drop_down" >
        <li >
          <a href="/mentor/add-mentor">Mentor/ Volunteer</a>
        </li>
        <li>
          <a href="/index">Partner/ Friend</a>
        </li>
        <li>
          <a href="/ambassador/add-ambassador">Ambassador</a>
        </li>
        <li>
          <a href="/index">Donor</a>
        </li>
      </ul>
    </li>
    <li id="small-size">
      <a href="/about-us" class="FAQs_About"><b>About Us</b></a>
    </li>
    <li id="small-size" >
      <a href="/FAQs" class="FAQs_About"><b>FAQs</b></a>
    </li>
  </ul>
</nav>