<footer>
    <div class="address-links">
      <div class="address">
        <h3>African Girls Empowerment Network</h3>
        <p>44, Idiroko Road, Off Lagos Abeokuta Expressway, Sango Ota, Ogun, Nigeria.</p>
      </div>
      <div class="links">
        <h3>About Us & Social Media Handles</h3>
        <a href="/about-us">About Us</a><br>
        <a href="https://twitter.com/TheAGENetwork" target="_blank">Twitter: @TheAGENetwork</a><br>
        <a href="https://twitter.com/stemgirlsng" target="_blank">Twitter: @stemgirlsng</a><br>
        <a href="https://web.facebook.com/groups/2642750369285579" target="_blank">Facebook group: Stemgirls initiative</a><br>
        <a href="https://web.facebook.com/TheAGENetwork" target="_blank">Facebook: @TheAGENetwork</a><br>
        <a href="https://www.instagram.com/theagenetwork/" target="_blank">Instagram: @TheAGENetwork</a>
      </div>
    </div>

      <div class="footer">
        <div class="menu">
          <h3> Website </h3>
          <p>
            www.agenetwork.org/stemgirls
          </p>
        </div>

        <div class="involved_menu">
          <h3>Email</h3>
            <p>
              info@agenetwork.org
            <br>
              stemgirls@agenetwork.org
            </p>
        </div>

        <div class="social_handles">
          <h3>WhatsApp/Call</h3>
          <p>
            +2348062762068
            <br>
            +2348033150904
            <br>
            +2348094860266
          </p>
          </ul>
        </div>
      </div>
  </footer>